#title{
  background-color: #ff4c68;
  padding-bottom: 4.5rem;

}
.navbar-brand{
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin-right: 31.25rem;
  padding-left: 0;

}
.navbar{
  padding-bottom: 4.5rem;
  padding-left: 0;
}
.nav-item{
  padding: 0 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;

}

body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-style:normal;
  color: white;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  padding: 30px 0;

}
h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

}
p{
  color: #8f8f8f;
  line-height: 1rem;
  font-size: 0.85rem;
}
.container-fluid{
  padding: 3% 15%;

}
#buttonapple{

  font-family: 'Montserrat', sans-serif;
  margin: 5% 1% 5% 3%;

}
#buttonplay{
  margin: 5% 3% 5% 1%;
  font-family: 'Montserrat', sans-serif;
}
.titleImage{
  width: 60%;
  transform: rotate(20deg);
  position: absolute;


}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.featurebox{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;

  color: #fff;

}
.carousel-item{
  padding: 7% 15%;
}
.testimonialImage{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  padding: 0 0 7% 0;
  text-align: center;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
.tag{
  color: #000;
}
#pricing{
  padding: 5%;
  text-align: center;
}
.priceCol{
  padding: 5%;
}
.card-header{
  padding: 5% 5%;
}
.breed{
  padding: 0 5%;
}
@media(max-width: 1040px){
  .titleImage{
    position: static;
    transform: rotate(0);
    text-align: center;
  }
  #title{
    text-align: center;
  }
}
#cta{
  background-color: #ff4c68;
  text-align: center;
}
.tag2{
  color: #fff;
  font-family: "Montserrat" , sans-serif;
  font-weight: bold;
  padding: 7% 15% 0;
  font-size: 3rem;
}
#footer{
  text-align: center;
  background-color: #fff;
  margin: 5% 15%;
}
.socials{
  margin: 20px 10px;
}
